/*css footer*/
.footer{
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1em;
}

.lienF{
    text-align: center;
    
}

.lienF2{
    display: flex;
    justify-content: space-between;
    padding-right: 20em;
    padding-left: 20em;
}
/*fin css footer*/